body {
	background: #91d8ea;
	color: white;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white; /* Fondo blanco también para todo el documento */
  }
.swal2-container {
    z-index: 9999 !important; /* Un valor alto para asegurarte de que esté encima */
}
@keyframes bounce {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-10px); /* Rebote hacia arriba */
	}
  }